<%= form_with(model: device, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :serial %>
    <%= form.text_field :serial, class: "form-control" %>
    <% if device.errors.include? :serial %>
      <div class="invalid-feedback">
        <%= device.errors[:serial].join ", " %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
